[package]
name = "twitchchat"
edition = "2018"
version = "0.8.0-beta.4"
authors = ["museun <museun@outlook.com>"]
keywords = ["twitch", "irc", "async", "asynchronous", "tokio"]
license = "MIT OR Apache-2.0"
readme = "README.md"
description = "interface to the irc-side of twitch's chat system"
repository = "https://github.com/museun/twitchchat"

[package.metadata.docs.rs]
features = ["default", "serde"]

[features]
default = ["async", "tls"]
async = ["tokio", "futures"]
tls = ["tokio-tls", "native-tls"]

[dependencies]
log = "0.4.8"

[dependencies.tokio]
version = "0.2.11"
optional = true
default-features = false
features = ["dns", "stream", "sync", "tcp"]

[dependencies.tokio-tls]
version = "0.3.0"
optional = true

[dependencies.futures]
version = "0.3.1"
optional = true
default-features = false
features = ["alloc"] # for AbortHandle

[dependencies.native-tls]
version = "0.2.3"
optional = true

[dependencies.serde]
version = "1.0.104"
optional = true
features = ["derive"]

[dev-dependencies]
matches = "0.1.8"
flexi_logger = "0.14.6"

[dev-dependencies.tokio]
version = "0.2.11"
default-features = false
features = ["dns", "io-util", "macros", "stream", "sync", "tcp", "time"]

[[example]]
name = "demo"
required-features = ["async"]
