[package]
name = "twitchchat"
version = "0.6.0"
authors = ["museun <museun@outlook.com>"]
repository = "https://github.com/museun/twitchchat"
edition = "2018"
readme = "README.md"
description = "interface to the irc-side of twitch's chat system"
keywords = [ "twitch", "irc" ]
license = "0BSD"

[badges]
circle-ci = { repository = "museun/twitchchat", branch = "master", service = "github" }
maintenance = { status = "actively-developed" }

[dependencies]
log = "0.4.6"
crossbeam-channel = "0.3.8"

[dependencies.ratelimit]
version = "0.1"
path = "./crates/ratelimit"

[dependencies.tee]
version = "0.1"
path = "./crates/tee"

[dependencies.parking_lot]
version = "0.8.0"

[dependencies.hashbrown]
version = "0.4.0"

[dependencies.serde]
version = "1.0.92"
features = ["derive"]
optional = true

[features]
default = ["serde", "hashbrown/serde"]

[dev-dependencies]
rand = "0.6.5"
serde_json = "1.0.39"
