[package]
name = "twitchchat"
edition = "2018"
version = "0.8.0-beta.0"
authors = ["museun <museun@outlook.com>"]
keywords = ["twitch", "irc", "async", "asynchronous", "tokio"]
license = "MIT or APACHE"
readme = "README.md"
description = "interface to the irc-side of twitch's chat system"
repository = "https://github.com/museun/twitchchat"

[package.metadata.docs.rs]
features = [ "default", "serde" ]

[features]
default = ["async", "tls"]
async = ["tokio", "futures"]
tls = ["tokio-tls", "native-tls"]

[dependencies]
log = "0.4.8"
tokio = { version = "0.2.9", optional = true, default-features = false, features = ["dns", "io-util", "stream", "sync", "tcp"] }
tokio-tls = { version = "0.3.0", optional = true }
futures = { version = "0.3.1", optional = true, default-features = false, features = ["alloc"] }
native-tls = { version = "0.2.3", optional = true }
serde = { version = "1.0.104", optional = true, features = ["derive"] }

[dev-dependencies]
matches = "0.1.8"
flexi_logger = "0.14.5"
tokio = { version = "0.2.9", default-features = false, features = ["dns", "io-util", "macros", "stream", "sync", "tcp", "time"] }

